body {
    background-color: #eee;
    margin: 0;
}
/*----header----*/
.header{
    /*background-color: #eee;*/
    padding: 10px 0 50px 0;
}
.logo{
    float:left;
    padding-left: 40px;  
}
.logo img{
    height: 40px;
    width: auto;   
}
.top-menu{
    float:right;
    width: 90%;
}
.top-nav{
    float:left;
}
.top-nav ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
.top-nav li
{
    float:left;
}
.top-nav a
{
    font-size: 25px;
    display:block;
    font-weight:bold;
    color:#464547;
    padding:10px;
    text-decoration:none;
    text-transform:uppercase;
}
.top-nav ul li a:hover
{
    color:#973c3f;
}

/*-----lives----*/
div.content {
    padding-top: 10px;
    border: 1px solid #ccc;
}

div.content:hover {
    border: 1px solid #777;
}

div.content img {
    width: 100%;
    height: auto;
}

div.image-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 10px 20px 0;
    float: left;
    width: 20%;
}
@media only screen and (max-width: 1600px){
    .responsive {
        width: 25%;       
    }
}
@media only screen and (max-width: 1200px){
    .responsive {
        width: 33.333333%;       
    }
}
@media only screen and (max-width: 800px){
    .responsive {
        width: 50%;       
    }
}
@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.text{
    font-size: 0.5em;
    padding: 10px;
}
.title{
    float: left;
    text-align:left;
    width: 80%;
    font-weight:bold;
    font-size: 1.8em;
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.web{
    float: right;
    color: #3333dd;
}
.zhubo{
    float: left;
    text-align:left;
    width: 80%;
    color: #888888;
}
.view{
    float: right;
    color: #ff7733;
}