/*----header----*/
.logo{
    float:left;
    width: 10%;
    text-align: center;
}
.top-menu{
    float:right;
    width: 90%;
}
.top-nav{
    float:left;
}
.top-nav ul li{
    display:inline-block;
}
.top-nav ul li a{
    color: #888;
    display: block;
}
.top-nav ul li a:hover{
    color: #000;
}
.search{
    float: left;
    width: 40%;
    padding-top: 0.3em;
}
.search input[type="text"]{
    width: 83.5%;
    padding: 10px;
    float: left;
    border: 1px solid rgba(85, 85, 85, 0.15);
    border:none;
    outline:none;
    color: #888;
}
.search input[type="submit"]{
    background: url(../images/search-icon.png) no-repeat 46% 46% #000;
    padding: 10px;
    width: 50px;
    cursor: pointer;
    border: none;
    color: #FFF;
    outline: none;
}
.search input[type="submit"]:hover{
    color:#888;
}

/*-----lives----*/
div.content {
    padding-bottom: 10px;
    border: 1px solid #ccc;
}

div.content:hover {
    border: 1px solid #777;
}

div.content img {
    width: 100%;
    height: auto;
}

div.image-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 10px 20px 0;
    float: left;
    width: 20%;
}
@media only screen and (max-width: 1600px){
    .responsive {
        width: 25%;       
    }
}
@media only screen and (max-width: 1200px){
    .responsive {
        width: 33.333333%;       
    }
}
@media only screen and (max-width: 800px){
    .responsive {
        width: 50%;       
    }
}
@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.text{
    font-size: 0.5em;
    padding: 10px;
}
.title{
    float: left;
    text-align:left;
    width: 80%;
    font-weight:bold;
    font-size: 1.8em;
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.web{
    float: right;
    color: #3333dd;
}
.zhubo{
    float: left;
    text-align:left;
    width: 80%;
    color: #888888;
}
.view{
    float: right;
    color: #ff7733;
}