body {
    background-color: #eee;
    margin: 0;
}
/*----header----*/
.header{
    background-color: #000;
    height:40px;
    position:fixed;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
}
.logo{
    float:left;
    padding-left: 50px;  
}
.logo img{
    height: 40px;
    width: auto;   
}
.top-menu{
    margin-left: 150px;
}
.top-nav{
    float:left;
}
.top-nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
.top-nav li{
    float:left;
}
.top-nav a{
    font-size: 20px;    
    display:block;
    color:#eee;
    padding:10px 20px 10px 20px;
    text-decoration:none;
    text-transform:uppercase;
}
.top-nav a:hover
{
    background-color:#ed1941;
}
.translate {
    position: fixed;
    right: 0;
}
.top-blank {
    padding-top: 40px;
}
/*---side bar---*/
.sidebar {
    position: fixed;
    height: 100%;
    width: 150px;
    float: left;
    background-color: #ddd;
    border-right: 1px solid #bbb;
}
.sidebar ul{
    list-style-type:none;
    padding:0;
    overflow:hidden;
}
.sidebar li{
}
.sidebar a{
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 18px;
    display:block;
    color:#2a5caa;
    padding:5px 10px 5px 35px;
    text-decoration:none;
}
.sidebar a:hover
{
    background-color:#bbb;
}
/*----main content---*/
.main {
    margin: 10px 0 0 160px;
}
div.content {
    padding-bottom: 10px;
    border: 1px solid #ccc;
}

div.content:hover {
    border: 1px solid #777;
}

div.content img {
    width: 100%;
    height: auto;
}

div.image-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 10px 20px 0;
    float: left;
    width: 20%;
}
@media only screen and (max-width: 1600px){
    .responsive {
        width: 25%;       
    }
}
@media only screen and (max-width: 1200px){
    .responsive {
        width: 33.333333%;       
    }
}
@media only screen and (max-width: 800px){
    .responsive {
        width: 50%;       
    }
}
@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.text{
    font-size: 0.5em;
    padding: 10px;
}
.title{
    float: left;
    text-align:left;
    width: 80%;
    font-weight:bold;
    font-size: 1.8em;
    color: #000000;
    overflow: hidden; /*----溢出部分隐藏----*/
    white-space: nowrap; /*----文字显示不换行----*/
    text-overflow: ellipsis; /*----溢出时显示省略号----*/
}
.web{
    float: right;
    text-align:right;
    color: #3333dd;
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.zhubo{
    float: left;
    text-align:left;
    width: 80%;
    color: #888888;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.view{
    float: right;
    color: #ff7733;
}